services:
  - type: web
    name: dedouleur
    runtime: node
    env: node
    region: oregon
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
    disk:
      name: project-data
      mountPath: /opt/render/project/src/server/data
      sizeGB: 1
    healthCheckPath: /api/health
